.adaptive-menu {
  background-color: $color1;

  ul:first-of-type {
    li {
      a {
        color: $color2;
        &:hover {
          color: $color1;
          background: $color3;
        }
      }
    }
  }

  &__open {
    > span {
      background: $color1;

      &::before,
      &::after {
        background: $color1;
      }
    }
  }

  &__close {

    &::before,
    &::after {
      background: $color3;
    }

  }

}